.category {
  @include flexBox(column, center, center, 2.5rem);
  padding: 5rem 10%;
  &_heading {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3rem;
    letter-spacing: -0.025rem;
  }
  &_content {
    @include flexBox(row, center, null, 1.5rem);
    flex-wrap: wrap;
    &_card {
      width: 14rem;
      height: 4rem;
      padding: 1.25rem;
      @include flexBox(row, null, center, 5.5%);
      box-shadow: 0px 12px 32px 0px rgba(29, 32, 38, 0.1);
      transform: scale(1);
      transition: 0.2s all;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
          rgba(0, 0, 0, 0.22) 0px 15px 12px;
      }
      &_icon {
        background-color: white;
        padding: 0.75rem;
      }
      &_about {
        @include flexBox(column, space-between, flex-start, 0.5rem);
        .course_name {
          font-weight: 500;
          line-height: 1.375rem;
        }
        .members {
          line-height: 1.375rem; /* 157.143% */
          letter-spacing: -0.00875rem;
          color: #6e7485;
          font-size: 0.875rem;
        }
      }
    }
    .cpu {
      background-color: #ebebff;
    }
    .handshake {
      background-color: #e1f7e3;
    }
    .creditcard {
      background-color: #fff2e5;
    }
    .chartbar {
      background-color: #fff0f0;
    }
    .bugdroid {
      background-color: #ffffff;
      .category_content_card_icon {
        background-color: $btn-color;
      }
    }
    .receipt {
      background-color: #f5f7fa;
    }
    .megaphone {
      background-color: #ebebff;
    }
    .camera {
      background-color: #f5f7fa;
    }
    .package {
      background-color: #fff2e5;
    }
    .pen {
      background-color: #ffeee8;
    }
    .firstaidkit {
      background-color: #e1f7e3;
    }
    .headphone {
      background-color: #fff2e5;
    }
  }
  &_more {
    @include flexBox(row, null, center, 0.75rem);
    &_text {
      p {
        font-size: 0.875rem;
        line-height: 1.375rem;
        letter-spacing: -0.00875rem;
        color: #4e5566;
      }
    }
    &_link {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: $btn-color;
      cursor: pointer;
      a {
        color: $btn-color;
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 1.25rem;
        letter-spacing: -0.00875rem;
      }
    }
  }
}

.courses {
  &_top {
    padding: 5rem 10%;
    background-color: #f5f7fa;
    &_best-selling {
      @include flexBox(column, space-between, center, 2.5rem);
      &_heading {
        text-align: center;
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 3rem;
        letter-spacing: -0.025rem;
      }
      &_cards {
        @include flexBox(row, center, null, 1.56rem);
        flex-wrap: wrap;
        &_card {
          width: 220px;
          background-color: white;
          @include flexBox(column, space-between, flex-start, 1rem);
          .img {
            img {
              width: 220px;
              height: 100%;
            }
          }
          .about-course {
            padding: 0 0.88rem;
            @include flexBox(column, center, flex-start, 0.62rem);
            .about-course_cost {
              width: 100%;
              display: flex;
              justify-content: space-between;
              a {
                padding: 0.25rem 0.38rem;
                font-size: 0.625rem;
                font-weight: 500;
                line-height: 0.75rem;
                text-transform: uppercase;
              }
              span {
                font-weight: 600;
                line-height: 1.375rem;
                color: $btn-color;
              }
              .design {
                background-color: #ffeee8;
                color: #993d20;
              }
              .development {
                background-color: #ebebff;
                color: #342f98;
              }
              .business {
                background-color: #e1f7e3;
                color: #15711f;
              }
              .marketing {
                background-color: #ebebff;
                color: #342f98;
              }
              .it {
                background-color: #fff0f0;
                color: #882929;
              }
              .music {
                background-color: #fff2e5;
                color: #65390c;
              }
              .health {
                background-color: #e1f7e3;
                color: #15711f;
              }
              .lifestyle {
                background-color: #fff2e5;
                color: #65390c;
              }
            }
            .about-course_text {
              width: 100%;
              font-size: 0.875rem;
              font-weight: 500;
              line-height: 1.25rem;
              letter-spacing: -0.00875rem;
              color: $text;
              height: 3rem;
            }
          }
          .border {
            @extend %border;
          }
          .rating {
            width: 100%;
            @include flexBox(row, space-between, center, null);
            padding: 0 0.8rem;
            box-sizing: border-box;
            span {
              font-size: 0.875rem;
              font-weight: 500;
              line-height: 1.25rem;
              letter-spacing: -0.00875rem;
              color: #4e5566;
            }
            span.student {
              color: $menu-gray;
              font-weight: 400;
              line-height: 1.375rem;
            }
            .rating_star {
              display: flex;
              align-items: center;
              gap: 0.25rem;
            }
          }
          transform: scale(1);
          transition: 0.2s all;
          cursor: pointer;
          &:hover {
            transform: scale(1.2);
            z-index: 2;
            box-shadow: rgb(218, 122, 37) 0px 20px 30px -10px;
          }
        }
      }
    }
  }
  &_bottom {
    padding: 5rem 7%;
    &_feature {
      margin-top: -8rem;
      padding: 4% 4%;
      background-color: white;
      border: 1px solid #e9eaf0;
      @include flexBox(column, center, space-between, 2.5rem);
      &_heading {
        display: flex;
        justify-content: space-around;
        p.pharagraph-heading {
          font-size: 2.5rem;
          font-weight: 600;
          line-height: 3rem;
          letter-spacing: -0.025rem;
          color: $text;
        }
        p.headingInfo {
          width: 35%;
          font-size: 0.875rem;
          font-weight: 400;
          line-height: 1.375rem;
          letter-spacing: -0.00875rem;
          color: #4e5566;
        }
      }

      &_cards {
        @include flexBox(row, space-between, null, 1.5rem);
        flex-wrap: wrap;
        &_card {
          max-width: 540px;
          min-width: 250px;
          display: flex;
          border: 1px solid #e9eaf0;
          transform: scale(1);
          transition: 0.2s all;
          cursor: pointer;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          &:hover {
            transform: scale(1.1);
            box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
              rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
              rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
          }
          &_img {
            img {
              width: 190px;
              height: 100%;
            }
          }
          &_info {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            padding: 0.5rem 0;
            &_heading {
              display: flex;
              justify-content: space-between;
              padding: 0 0.75rem;
              .text {
                padding: 0.25rem 0.35rem;
                a {
                  font-size: 0.625rem;
                  font-weight: 500;
                  line-height: 0.75rem;
                  text-transform: uppercase;
                }
              }
              .health {
                background-color: #e1f7e3;
                a {
                  color: #15711f;
                }
              }
              .personal {
                background-color: #ffeee8;
                a {
                  color: #993d20;
                }
              }
              .productiv {
                background-color: #f5f7fa;
                color: $text;
              }
              .music {
                background-color: #fff2e5;
                a {
                  color: #65390c;
                }
              }

              .cost {
                span {
                  font-size: 1.125rem;
                  line-height: 1.5rem;
                  letter-spacing: -0.01688rem;
                  color: $text;
                }
                span.discount {
                  text-decoration: line-through;
                  font-size: 0.875rem;
                  line-height: 1.5rem;
                  color: #a1a5b3;
                }
              }
            }
            &_about {
              padding: 0 0.75rem;
              font-weight: 500;
              line-height: 1.375rem;
              color: $text;
              cursor: pointer;
              &:hover {
                color: $btn-color;
              }
            }
            &_rank {
              display: flex;
              justify-content: space-between;
              padding: 0 0.75rem;
              .profile {
                display: flex;
                align-items: center;
                gap: 0.75rem;
                .icon {
                  position: relative;
                  width: 1.75rem;
                  height: 1.75rem;
                  background-color: rgba(179, 248, 167, 0.553);
                  border-radius: 50%;
                  img {
                    @extend %center;
                  }
                }
                .first-name {
                  font-size: 0.875rem;
                  line-height: 1.375rem;
                  letter-spacing: -0.00875rem;
                  color: #4e5566;
                }
              }
              .rating {
                @include flexBox(row, null, center, 0.3rem);
                .rating-num {
                  font-size: 0.875rem;
                  font-weight: 500;
                  line-height: 1.25rem;
                  letter-spacing: -0.00875rem;
                  color: $text;
                  .members {
                    font-size: 0.875rem;
                    line-height: 1.375rem;
                    letter-spacing: -0.00875rem;
                    color: $menu-gray;
                  }
                }
              }
            }
            &_border {
              @extend %border;
            }
            &_statistics {
              padding: 0 0.75rem;
              @include flexBox(row, space-between, center, null);
              span {
                font-size: 0.875rem;
                line-height: 1.375rem;
                letter-spacing: -0.00875rem;
              }
              .students {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 0.37rem;
                .students-num {
                  @include flexBox(row, null, center, 0.1rem);
                  .members {
                    font-weight: 500;
                    line-height: 1.25rem;
                    color: #4e5566;
                  }
                  .students-text {
                    color: $menu-gray;
                  }
                }
              }
              .level {
                @include flexBox(row, null, center, 0.1rem);
                span {
                  color: #4e5566;
                }
              }
              .hour {
                @include flexBox(row, null, center, 0.1rem);
                span {
                  color: #4e5566;
                }
              }
            }
          }
        }
      }
    }

    &_added {
      width: 100%;
      padding: 4% 4%;
      @include flexBox(column, center, center, 1.2rem);
      &_heading {
        height: 100px;
        p {
          font-size: 2.5rem;
          font-weight: 600;
          line-height: 3rem;
          letter-spacing: -0.025rem;
          color: $text;
        }
      }
      &_container {
        width: 100%;
        margin-bottom: 50px;
        @include flexBox(row, center, center, 1.5rem);
        flex-wrap: wrap;
        &_card {
          width: 280px;
          height: 365px;
          &_front {
            width: 280px;
            position: absolute;
            @include flexBox(column, space-between, stretch, 0.88rem);
            border: 1px solid #e9eaf0;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
              rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
            padding-bottom: 0.88rem;
            transform: rotateY(0deg);
            backface-visibility: hidden;
            transition: 1s all;
            .main-img {
              width: 100%;
            }
            &_info {
              padding: 0 1.12rem;
              @include flexBox(column, space-between, space-between, 0.88rem);
              &_heading {
                display: flex;
                justify-content: space-between;
                .course-name {
                  @extend %course-name;
                }
                .design {
                  background-color: #ffeee8;
                  color: #993d20;
                }
                .cost {
                  font-size: 1.125rem;
                  font-weight: 500;
                  line-height: 1.5rem;
                  color: $btn-color;
                }
              }
              &_text {
                font-weight: 500;
                line-height: 1.375rem;
                color: $text;
              }
              &_rating {
                display: flex;
                justify-content: space-between;
                align-items: center;
                span {
                  font-size: 0.875rem;
                  font-weight: 500;
                  line-height: 1.25rem;
                  letter-spacing: -0.00875rem;
                  color: #4e5566;
                }
                .rank {
                  display: flex;
                  align-items: center;
                }
                .members {
                  display: flex;
                  align-items: center;
                  gap: 0.3rem;
                }
                .student {
                  line-height: 1.375rem;
                  color: $menu-gray;
                }
              }
            }
          }
          &_back {
            position: absolute;
            top: -5%;
            left: -35%;
            background-color: white;
            border: 1px solid rgba(216, 216, 216, 0.728);
            box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
            width: 400px;
            transform: rotateY(-180deg);
            backface-visibility: hidden;
            transition: 1s all;
            @include flexBox(column, space-between, space-between, 1rem);
            &_top {
              padding: 1.1rem;
              @include flexBox(column, space-between, space-between, 0.88rem);
              .design {
                span {
                  background-color: #ffeee8;
                  color: #993d20;
                  @extend %course-name;
                }
              }
              .it {
                span {
                  background-color: #fff0f0;
                  color: #882929;
                  @extend %course-name;
                }
              }
              .development {
                span {
                  background-color: #ebebff;
                  color: #342f98;
                  @extend %course-name;
                }
              }
              .health {
                span {
                  background-color: #e1f7e3;
                  color: #15711f;
                  @extend %course-name;
                }
              }
              .course-text {
                font-size: 1rem;
                font-weight: 500;
                line-height: 1.375rem;
                color: $text;
              }
              .profile {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .user {
                  .icon {
                    position: relative;
                    width: 1.8rem;
                    height: 1.8rem;
                    background-color: rgba(206, 206, 206, 0.742);
                    border-radius: 50%;
                    img {
                      @extend %center;
                    }
                  }
                  @include flexBox(row, space-between, center, 0.2rem);
                  .about-user {
                    display: flex;
                    flex-direction: column;
                    gap: 0.1rem;
                    span {
                      font-size: 0.875rem;
                      line-height: 1.375rem;
                      letter-spacing: -0.00875rem;
                      color: $menu-gray;
                    }
                    span.user-name {
                      font-size: 0.875rem;
                      font-weight: 500;
                      line-height: 1.25rem;
                      letter-spacing: -0.00875rem;
                      color: $text;
                    }
                  }
                }
                .rank {
                  display: flex;
                  align-items: center;
                  gap: 0.2rem;
                  .user-num {
                    font-size: 0.8rem;
                    color: $menu-gray;
                  }
                }
              }
              .about-course {
                display: flex;
                justify-content: space-between;
                .course-member {
                  display: flex;
                  align-items: center;
                  gap: 0.1rem;
                }
                .course-level {
                  display: flex;
                  align-items: center;
                  gap: 0.1rem;
                }
                .course-hour {
                  display: flex;
                  align-items: center;
                  gap: 0.1rem;
                }
              }
              .course-cost {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .amount {
                  display: flex;
                  align-items: center;
                  gap: 0.3rem;
                  span.cost {
                    font-size: 1.5rem;
                    color: $text;
                  }
                  .del {
                    color: $menu-gray;
                    text-decoration: line-through;
                    font-size: 0.88rem;
                  }
                  .discount {
                    padding: 0.2rem;
                    background-color: #ffeee8;
                    color: $btn-color;
                    font-size: 0.88rem;
                  }
                }
                .liked {
                  position: relative;
                  width: 2rem;
                  height: 2rem;
                  background-color: #ffeee8;
                  color: $btn-color;
                  i {
                    @extend %center;
                    font-size: 1.3rem;
                    cursor: pointer;
                  }
                }
              }
            }
            .border-line {
              height: 1px;
              background-color: #dfdfdf;
            }
            &_middle {
              padding: 1.1rem;
              display: flex;
              flex-direction: column;
              gap: 0.5rem;
              .list {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                p {
                  display: flex;
                  align-items: baseline;
                  gap: 0.5rem;
                  span {
                    color: #6e7485;
                    font-size: 0.875rem;
                    line-height: 1.375rem;
                    letter-spacing: -0.00875rem;
                  }
                  i {
                    color: #23bd33;
                  }
                }
              }
            }
            &_bottom {
              padding: 1.1rem;
              .buttons {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                text-align: center;
                .add-to-cart {
                  cursor: pointer;
                  background-color: $btn-color;
                  a {
                    @include flexBox(row, center, center, 1rem);
                    color: white;
                    font-weight: 600;
                    line-height: 3rem;
                    letter-spacing: -0.008rem;
                    text-transform: capitalize;
                    padding: 0.3rem;
                  }
                }
                .course-detail {
                  background-color: $btn-bg;
                  cursor: pointer;
                  a {
                    @include flexBox(row, center, center, 1rem);
                    color: $btn-color;
                    font-weight: 600;
                    line-height: 3rem;
                    letter-spacing: -0.008rem;
                    text-transform: capitalize;
                    padding: 0.3rem;
                  }
                }
              }
            }
          }
        }
        .card-1 {
          position: relative;
          perspective: 1500px;
          cursor: pointer;

          &:hover {
            .front-card {
              transform: rotateY(180deg);
            }
            .back-card {
              transform: rotateY(0deg);
            }
          }
        }
        .card-2 {
          position: relative;
          perspective: 1500px;
          cursor: pointer;

          &:hover {
            .front-card {
              transform: rotateY(180deg);
            }
            .back-card {
              transform: rotateY(0deg);
            }
          }
        }
        .card-3 {
          position: relative;
          perspective: 1500px;
          cursor: pointer;

          &:hover {
            .front-card {
              transform: rotateY(180deg);
            }
            .back-card {
              transform: rotateY(0deg);
            }
          }
        }
        .card-4 {
          position: relative;
          perspective: 1500px;
          cursor: pointer;

          &:hover {
            .front-card {
              transform: rotateY(180deg);
            }
            .back-card {
              transform: rotateY(0deg);
            }
          }
        }
      }

      &_button {
        display: flex;
        justify-content: center;
        a {
          text-align: center;
          padding: 0.5rem 1.5rem;
          background-color: $btn-bg;
          color: $btn-color;
        }
      }
    }
  }
}

.advert {
  padding-top: 5rem;
  padding-bottom: 20rem;
  background-color: $section-bg;
  @include flexBox(row, center, flex-start, 2%);
  flex-wrap: wrap;
  &_teaching {
    width: 35%;
    height: 200px;
    background-image: url(/assets/image/main/advert/advert-man.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2%;
    &_text {
      height: 100%;
      @include flexBox(column, space-between, flex-start, null);
      &_heading p {
        font-size: 2rem;
        font-weight: 600;
        line-height: 2.5rem;
        letter-spacing: -0.02rem;
        color: white;
      }
      &_about p {
        font-size: 0.875rem;
        line-height: 1.375rem;
        letter-spacing: -0.00875rem;
        color: white;
        width: 60%;
      }
      &_button {
        padding: 0 1.5rem;
        background-color: white;
        transform: translateX(0);
        transition: 0.5s transform;
        cursor: pointer;
        border: 2px solid white;
        a {
          color: $btn-color;
          font-weight: 600;
          line-height: 3rem;
          letter-spacing: -0.008rem;
          text-transform: capitalize;
        }
        &:hover {
          transform: translateX(50px);
          background-color: $btn-color;
          a {
            color: white;
          }
        }
      }
    }
  }
  &_steps {
    width: 35%;
    height: 200px;
    background-color: white;
    padding: 2%;
    &_text {
      @include flexBox(column, center, flex-start, 1.7rem);
      height: 100%;
      &_heading p {
        font-size: 2rem;
        font-weight: 600;
        line-height: 2.5rem;
        letter-spacing: -0.02rem;
        color: $text;
      }
      &_options {
        @include flexBox(row, space-between, center, 1.25rem);
        flex-wrap: wrap;
        &_opt {
          @include flexBox(row, flex-start, center, 1rem);
          flex-basis: 45%;
          .number {
            width: 3rem;
            height: 3rem;
            position: relative;
            border-radius: 50%;
            span {
              position: absolute;
              @extend %center;
              font-size: 1.5rem;
              font-weight: 600;
              line-height: 124%;
            }
          }
          .text {
            font-size: 1rem;
            line-height: 1.5rem;
          }
          .first {
            background-color: #ebebff;
            span {
              color: #564ffd;
            }
          }
          .second {
            background-color: #fff0f0;
            span {
              color: $btn-color;
            }
          }
          .third {
            background-color: #fff0f0;
            span {
              color: $btn-color;
            }
          }
          .fourth {
            background-color: #e1f7e3;
            span {
              color: #23bd33;
            }
          }
        }
      }
    }
  }
}

.company {
  &_instructors {
    width: 78%;
    margin: 0 auto;
    margin-top: -10rem;
    border: 1px solid #e9eaf0;
    padding: 5rem 1rem;
    background-color: white;
    @include flexBox(column, space-between, center, 2.5rem);
    &_heading {
      font-size: 2.5rem;
      font-style: normal;
      font-weight: 600;
      line-height: 3rem; /* 120% */
      letter-spacing: -0.025rem;
      text-align: center;
    }
    &_container {
      display: flex;
      justify-content: center;
      gap: 1.56rem;
      flex-wrap: wrap;
      &_card {
        padding-bottom: 0.75rem;
        @include flexBox(column, flex-start, center, 0.75rem);
        width: 200px;
        border: 1px solid #e9eaf0;
        &_img {
          img {
            width: 100%;
          }
        }
        &_about-user {
          @include flexBox(column, space-between, center, null);
          .user-name {
            font-weight: 500;
            line-height: 1.375rem;
            color: $text;
          }
          .user-job {
            font-size: 0.875rem;
            line-height: 1.375rem;
            letter-spacing: -0.00875rem;
            color: $menu-gray;
          }
        }
        &_border {
          @extend %border;
        }
        &_rank {
          width: 100%;
          display: flex;
          justify-content: space-around;
          align-items: center;
          span {
            @extend %rating-text;
          }
          &_rating {
            display: flex;
            align-items: center;
            gap: 0.3rem;
          }
          &_members {
            .members-name {
              line-height: 1.375rem;
              color: $menu-gray;
            }
          }
        }
        transform: scale(1);
        transition: 0.3s all;
        cursor: pointer;
        &:hover {
          transform: scale(1.1);
          box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
            rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
            rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        }
      }
    }
    &_bottom {
      p {
        display: flex;
        gap: 0.5rem;
        flex-wrap: wrap;
        @extend %rating-text;
        font-weight: 400;
        color: #6e7485;
        a {
          @extend %rating-text;
          color: $btn-color;
        }
      }
    }
  }
  &_brends {
    padding: 5% 10%;
    @include flexBox(row, center, center, 1.5rem);
    flex-wrap: wrap;
    &_text {
      width: 32%;
      @include flexBox(column, center, flex-start, 1.5rem);
      &_heading span {
        font-weight: 600;
        font-size: 2rem;
        line-height: 2.5rem;
        letter-spacing: -0.02rem;
        color: $text;
      }
      &_about span {
        display: block;
        font-size: 0.875rem;
        line-height: 1.375rem;
        letter-spacing: -0.00875rem;
        color: #6e7485;
        width: 75%;
      }
    }
    &_logo {
      width: 62%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 1.5rem;
      &_card {
        background-color: white;
        width: 10rem;
        height: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 32px 0px rgba(9, 26, 68, 0.07);
        cursor: pointer;
        transform: scale(1);
        transition: 0.2s all;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}
