@import "./reset";
@import "./mixin";
@import "./variable";
@import "./extend";
@import "./media";
@import "./header";
@import "./main";
@import "./footer";

@font-face {
    font-family: "Inter";
    src: local("Inter"), local("Inter"),
     url("/assets/font/Inter/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
     font-display: swap;
     font-style: normal;
     font-weight: normal;
}